body{
    color:#414141;
}
.bg-magenta{
    background-color: #c90044;
}
.bg-dunkelweiss{
    background-color: #f2f3f3;
}

.bg-dunkel{
    background-color: #1b1d1f;
}
.bg-weiss{
    background-color: #fff;
}
.col-weiss{
    color:#fff;
}
.col-dunkel{
    color:#1b1d1f;
}

.col-magenta{
    color: #c90044;
}
.col-dunkel-font{
    color:#7f7f7f;
}
.btn.bg-magenta,.btn-lg.bg-magenta,.btn.bg-sophos,.btn-lg.bg-sophos,.btn.bg-itb,.btn-lg.bg-itb{
    color:#fff;
}

a, header .nav-link{
    color:#1b1d1f;
}

.btn.bg-magenta:hover,.btn-lg.bg-magenta:hover,.btn.bg-sophos:hover,.btn-lg.bg-sophos:hover,.btn.bg-itb:hover,.btn-lg.bg-itb:hover{
    background-color:#1b1d1f;
}
a.col-dunkel:hover,header .nav-link:hover,header .nav-link:focus{
    color: #c90044;
}
a:hover,footer .nav-link:hover{
    color:#fff;
}

.blog-beitrag:hover{
    color:#1b1d1f;
}

.bg-sophos{
    background-color: #1f65ad;
}

.bg-itb{
    background-color: #005c4d;
}

.border-magenta{
    color: #c90044;
}

.border-sophos{
    color: #1f65ad;
}

.border-itb{
    color: #005c4d ;
}