body{
    
    font-family: 'Carrois Gothic', sans-serif;
    margin: 0;
    padding:0;
}

header{
    border-bottom: 5px solid #414141;
    background-color: #fff;
    width: 100%;
    z-index: 5;
}

.navbar-brand img{
    width: 250px;
}

body.small-menu header .navbar-brand img{
    width: 150px;
}

@media (max-width:991px) {
    header{
        background: #c90044;

    }
    header .nav-link{
        color:#fff;
    }
    header .nav-link:hover{
        color:#414141;
    }

    .navbar-brand{
        position: absolute;
        left: 10px;
        top:10px
        }
    .navbar-brand img{
        width: 150px;
    }

    body.small-menu header .navbar-brand img{
        width: 150px;
    }
}
section{
    min-height: 30vh;
}

.banner-text{
    position: absolute;
    top: 40%;
    width: 100%;
}

.btn{
    border-radius: 0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.btn:focus{
    box-shadow: none;
}

.blog-beitrag{
    text-decoration: none;
}

.card{
    border:0;
}
.card-img-top{
    border-radius: 0;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.card-body{
    min-height: 310px;
}

@media(max-width:991px){
    .card-body{
        min-height: auto;
    }
}

.blog-beitrag:hover > .card .card-img-top{
    -moz-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -o-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}


/*Mobile Menü*/
.navbar-toggler{
    position: relative;
}
.mobile-toggler{
    position: relative;
    top: 0;
    width: 40px;
    height: 40px;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: .5s ease-in-out;
}

#mobile-toggler-check{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    z-index: 5;
}
.mobile-toggler:before,.mobile-toggler:after{
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
}

.mobile-toggler:before{
    top: 10px;
}

.mobile-toggler:after{
    top: 25px;
}

#mobile-toggler-check:checked + .mobile-toggler:after{
    top:20px;
    -moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

#mobile-toggler-check:checked + .mobile-toggler:before{
    top:20px;
    background: #fff;
    -moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.highlight-center:before{
    position: absolute;
    width: 80px;
    content:'';
    left: calc(50% - 40px);
    top: -25px;
    border-bottom:5px solid #c90044;
}