h1{
    font-size: 3.3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.3rem;
}

h5{
    font-size: 1rem;
}
h5.card-title{
    font-weight: bold;
}
p{
    font-size: 1rem;
}

.nav-item{
    font-size: 1.2rem;
}

@media (max-width:991px){
    h1{
        font-size: 2.5rem;
    }
    .nav-item{
        font-size: 1rem;
    }
}